name: CI - Test Build

on:
  pull_request:
    branches:
      - dev
  push:
    branches:
      - dev

jobs:
  test-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # This builds the image to verify it works, but discards the output
      - name: Build (Test)
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm/v8
            linux/arm/v7
          push: false
          tags: devzwf/pihole-dot-doh:test